<p>¡Hola {{fullname}}!,</p>
<p>Verifique su correo electrónico {{email}} con el código a continuación</p>
<p>Tu código de verificación es: <strong>{{code}}</strong></p>

<p>Si no solicitó este correo electrónico, puede ignorarlo con seguridad.</p>